$blue-primary: #3846E8;
$blue-secondary: #7F88EC;

$red-primary: #E83535;
$red-secondary: #EC7D7D;

$green-primary:#3BB845;
$green-secondary:#426B46;

$yellow-primary:#EBE23D;
$yellow-secondary:#EEE985;

$lightblue-primary: #88DDEB ;
$lightblue-secondary: #D1EAEE;

$whitegrey-primary: rgb(139, 139, 139);
$whitegrey-secondary:white;

$darkgrey-primary:rgb(97, 96, 96);
$darkgrey-secondary: black

